.play-button {
  @include set-size(72px, 72px, true, false);
  @include set-position(absolute, 50%, auto, auto, 50%);
  margin-left: -36px;
  margin-top: -36px;
  background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
}